/* Import all base styles. */
html {
    position: relative;
    min-width: 1250px;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    scrollbar-width: none;
}

.scrollbar,
.scrollbar-x {
    overflow-y: auto;
    scrollbar-width: thin;
    outline: none;
}

.scrollbar-x {
    overflow-x: auto;
}

.scrollbar::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar:horizontal {
    display: none;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-x::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track,
.scrollbar-x::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg-color);
}

body {
    --background-color: #282a36;
    --frontground-color: #44475a;
    --foreground-color: #f8f8f2;
    --cyan-color: #8be9fd;
    --blue-color: #6272a4;
    --green-color: #50fa7b;
    --ornage-color: #ffb86c;
    --pink-color: #ff79c6;
    --red-color: #f55;
    --purple-color: #bd93f9;
    --yellow-color: #f1fa8c;
    --scrollbar-color: var(--blue-color);
    --scrollbar-bg-color: var(--frontground-color);
}

.body-color {
    color: var(--foreground-color);
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button,
select,
textarea {
    box-sizing: border-box;
    padding: 0.05em;
    margin: 0;
    font-size: 0.75em;
    border: 0 solid #ccc;
}

.sub-header {
    display: flex;
    flex-direction: row;
    min-width: 1250px;
    max-width: calc((38px + 7.5em) * 4 + 40em);
    min-height: 90px;
    margin-bottom: 5px;
}

.currencies-container {
    display: flex;
    flex-basis: 55%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-variant-numeric: tabular-nums;
    line-height: 1em;
    white-space: nowrap;
}

.currency-container {
    display: flex;
    align-items: center;
    width: calc(38px + 7.5em);
    min-width: 150px;
}

.power-bar-container {
    display: flex;
    align-items: center;
    width: calc(38px + 7.5em);
    min-width: 75%;
}

.progressbar {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 30px;
    margin: 0;
    overflow: hidden;
    background-color: var(--frontground-color);
}

#power-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: var(--cyan-color);
    transition: all 0.1s;
}

#money-display { color: var(--yellow-color); }
#power-display { color: var(--cyan-color); }
#research-display { color: var(--purple-color); }
#flame-display { color: var(--red-color); }

.stat-display {
    padding-left: 6px;
    margin: auto 0;
    line-height: 1em;
}

a {
    color: white;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}

#sell-power-button {
    min-width: 150px;
    min-height: 30px;
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: var(--cyan-color);
    border-style: solid;
    border-radius: 1px;
}

#sell-power-button:hover {
    background-color: var(--frontground-color);
}
