/* Import all base styles. */
html {
    position: relative;
    min-width: 1400px;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    scrollbar-width: none;
}

.scrollbar,
.scrollbar-x {
    overflow-y: auto;
    scrollbar-width: thin;
    outline: none;
}

.scrollbar-x {
    overflow-x: auto;
}

.scrollbar::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar:horizontal {
    display: none;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-x::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track,
.scrollbar-x::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg-color);
}

body {
    box-sizing: border-box;
    margin: 0;

    --background-color: #282a36;
    --frontground-color: #44475a;
    --foreground-color: #f8f8f2;
    --cyan-color: #8be9fd;
    --blue-color: #6272a4;
    --green-color: #50fa7b;
    --orange-color: #ffb86c;
    --pink-color: #ff79c6;
    --red-color: #f55;
    --purple-color: #bd93f9;
    --yellow-color: #f1fa8c;
    --scrollbar-color: var(--blue-color);
    --scrollbar-bg-color: var(--frontground-color);
}

.body-color {
    color: var(--foreground-color);
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1400px;
}

input,
button,
select,
textarea {
    box-sizing: border-box;
    padding: 0.05em;
    margin: 0;
    font-size: 0.75em;
    border: 0 solid #ccc;
}

.sub-header {
    display: flex;
    flex-direction: row;
    min-width: 1400px;
    max-width: calc((38px + 7.5em) * 4 + 40em);
    min-height: 90px;
    margin-bottom: 5px;
}

.currencies-container {
    display: flex;
    flex-basis: 55%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-variant-numeric: tabular-nums;
    line-height: 1em;
    white-space: nowrap;
}

.currency-container {
    display: flex;
    align-items: center;
    width: calc(38px + 7.5em);
    min-width: 150px;
}

.power-bar-container {
    display: flex;
    align-items: center;
    width: calc(38px + 7.5em);
    min-width: 75%;
}

.progressbar {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0;
    overflow: hidden;
    background-color: var(--frontground-color);
}

#power-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: var(--cyan-color);
    transition: all 0.1s;
}

#money-display {
    color: var(--yellow-color);
}

#power-display {
    color: var(--cyan-color);
}

#research-display {
    color: var(--purple-color);
}

#flame-display {
    color: var(--red-color);
}

.stat-display {
    padding-left: 6px;
    margin: auto 0;
    line-height: 1em;
}

.description-container {
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    width: 45%;
    min-width: 45%;
    line-height: 1.2em;
}

#description-title {
    width: 100%;
    overflow: hidden;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    text-align: left; /* Keeps text from bouncing around */
    white-space: pre-line;
}

#description-content {
    width: 100%;
    height: 5em;
    overflow: hidden;
    font-size: 0.8em;
    font-variant-numeric: tabular-nums;
    text-align: left; /* Keeps text from bouncing around */
    white-space: pre-line;
}

a {
    color: white;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}

#sell-power-button {
    min-width: 150px;
    min-height: 30px;
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: var(--cyan-color);
    border-style: solid;
    border-radius: 1px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltip-text {
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    visibility: hidden;
    background-color: black;
    border-radius: 6px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

#tab-border {
    position: relative;
    z-index: 0;
    height: 2px;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 1400px;
}

#tab-row {
    display: flex;
    gap: 0 5px;
    justify-content: center;
    width: 100%;
    padding-inline: unset;
    margin: 0;
    margin-block: unset;
    margin-inline: unset;
    text-align: center;
    list-style: none;
}

button {
    min-height: 30px;
    color: white;
    cursor: pointer;
    background-color: var(--background-color);
    outline: none;
    transition-duration: 0.15s;
}

nav button {
    display: block;
    min-width: 100px;
    min-height: 21px;
    padding: 1px;
    overflow: hidden;
    font-size: min(1em, 20px);
    line-height: 1em;
    color: white;
    text-align: center;
    white-space: nowrap;
    border: 2px solid;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

button:hover,
button:active {
    background-color: var(--frontground-color);
}

#buildings-tab {
    border-color: var(--cyan-color);
}

#upgrade-tab {
    border-color: var(--yellow-color);
}

#research-tab {
    border-color: var(--purple-color);
}

#map-tab {
    border-color: var(--green-color);
}

#setting-tab {
    border-color: var(--orange-color);
}

#buildings {
    align-items: start;
    justify-content: center;
    margin-top: 10px;
}

#buildings-component-container {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 300px;
    padding: 30px 10px;
    margin: 20px;
    color: var(--foreground-color);
    text-align: center;
    border: 1px solid var(--cyan-color);
}

#buildings-component-table-container {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 350px;
    margin-top: 10px;
    font-size: 0;
}

.buildings-component-table-row {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0;
}

.component-button {
    width: 32px;
    height: 32px;
    margin: 2px;
    background-repeat: no-repeat;
    background-position: center;
    border: var(--blue-color) solid;
    border-radius: 5px;
}

.unused {
    display: none;
}

#buildings-map-container {
    box-sizing: border-box;
    margin: 20px;
    color: var(--foreground-color);
    text-align: center;
    border: 1px solid var(--cyan-color);
}

#map-table-container {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    margin: 20px;
    font-size: 0;
}

#map-table {
    text-align: center;
    border-collapse: collapse;
}

.map-table-cell {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.turbine {
    background-image: url('Icons/turbine.png');
}

.solar-panel {
    background-image: url('Icons/solarPanel.png');
}
